<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Poster Finder</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">Movie Poster Finder</div>
            <div class="search-container">
                <div class="search-wrapper">
                    <input type="text" id="movieSearch" placeholder="Search for a movie...">
                    <button id="searchButton"><i class="fas fa-search"></i></button>
                </div>
                <div id="suggestions" class="suggestions-dropdown"></div>
            </div>
        </header>

        <main>
            <div id="posterContainer" class="card hidden">
                <div class="poster-wrapper">
                    <img id="poster" src="https://github.com/yesenvidnath/Posterfy/blob/main/static/img/movieposter.png" alt="Movie Poster">
                    <div class="resolution-control">
                        <label for="resolutionSelect">Select Image Size:</label>
                        <select id="resolutionSelect">
                            <option value="100p">Small</option>
                            <option value="300p">Medium</option>
                            <option value="400p">Large</option>
                        </select>
                    </div>
                </div>
                <div class="poster-info">
                    <h2 id="movieTitle"></h2>
                    <p id="movieYear"></p>
                    <p id="movieRating"></p>
                    <button id="downloadButton" class="btn">Download Poster</button>
                </div>
            </div>
        </main>

        <div class="author-banner">
            <div class="author-info">
                <img src="https://github.com/yesenvidnath/Posterfy/blob/main/static/img/yesenkandalama.png" alt="Yesen Kandalama" class="author-image">
                <div class="author-text">
                    <h3>Yesen Kandalama</h3>
                    <p>Creator of Movie Poster Finder</p>
                </div>
            </div>
            <a href="https://buymeacoffee.com/yesenkandalama" target="_blank" class="btn btn-coffee">
                <i class="fas fa-coffee"></i> Buy Me a Coffee
            </a>
        </div>

        <footer>
            <p>&copy; 2024 Movie Poster Finder. All rights reserved.</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>